{% extends "base.html" %}

{% block content %}
<div class="col-3 justify-content-center">

    <div class="text-center">
    <div class="h1 text-primary">{{product.title}}</div>
    {% if product.image %}
    <div class="img-fluid">
    <img src="{{product.image.url}}" alt="{{product.title}}" weight="200px" height="200px"/>
    </div>
    {% endif %}
    <div class="col ">
        <div class="h5 text-secondary">
            Precio: ${{product.price}}
        </div>

        <div class="row h3 font-weight-bold">
            <strong class="alert alert-info">{{ product.description }}</strong>
        </div>
        </div>
    </div>
</div>
{% endblock%}